.Rproj.user
.Rhistory
.RData
.Ruserdata
.MySCMServerInfo
inst/doc
^docs$
inst/doc/*
docs/*
!docs/*.css
!docs/*.js
!docs/*.ico
!docs/*.html
.Rapp.history
!inst/extdata/installation.Rmd$
vignettes/*.log
vignettes/*.R
vignettes/*.tex
vignettes/*_files
vignettes/*.md
vignettes/*.toc
vignettes/*.pdf
vignettes/*_cache
vignettes/*.html
vignettes/logging-package-use-stats_cache/*
